apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cors
  namespace: aster-policy
spec:
  headers:
    accessControlAllowMethods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    accessControlAllowHeaders:
      - Content-Type
      - Authorization
      - X-Requested-With
    accessControlAllowOriginList:
      - https://aster-lang.cloud
      - https://www.aster-lang.cloud
      - https://aster-lang.dev
      - http://localhost:3000
    accessControlMaxAge: 86400
    accessControlAllowCredentials: true
