apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: policy-api-hpa
  namespace: aster-policy
spec:
  minReplicas: 3
  maxReplicas: 15
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
