apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: aster-policy
  labels:
    app: alertmanager
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: aster-platform
spec:
  type: ClusterIP
  selector:
    app: alertmanager
  ports:
    - name: http
      port: 9093
      targetPort: http
