apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: postgres-netpol
  namespace: aster-policy
  labels:
    app: postgres
spec:
  podSelector:
    matchLabels:
      app: postgres
  policyTypes:
    - Ingress
  ingress:
    # Allow from any pod in the same namespace
    - from:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 5432
