apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: policy-api-hpa
  namespace: aster-policy
  labels:
    app: policy-api
    app.kubernetes.io/name: policy-api
    app.kubernetes.io/part-of: aster-platform
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: policy-api
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
