apiVersion: apps/v1
kind: Deployment
metadata:
  name: policy-api
  namespace: aster-policy
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: policy-api
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
