apiVersion: v1
kind: ResourceQuota
metadata:
  name: aster-policy-quota
  namespace: aster-policy
spec:
  hard:
    requests.cpu: "4"
    requests.memory: "8Gi"
    limits.cpu: "8"
    limits.memory: "16Gi"
    pods: "20"
    persistentvolumeclaims: "5"
    requests.storage: "100Gi"
    services: "10"
    services.loadbalancers: "0"
